<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HostelProject.Properties.Settings.hostelsystemConnectionString"
            connectionString="Data Source=DESKTOP-5H5E8D5\SQLEXPRESS2019;Initial Catalog=hostelsystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>